.division {
    /* background-color: rgb(96, 93, 109); */
    width: 20%;
    height: 20%;
    border-radius: 10px;
    text-transform:capitalize;
}
.division:hover{
    color: blue;
    text-shadow: 20px;
}

#bg{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 30px;
    align-items: center;
}
a{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none; 
    color: rgb(87, 22, 192);
    padding: 0 10px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
a:hover{
    color:orange;
    text-decoration: underline;
    text-decoration-color: rgb(221, 16, 143);
}

